<div class="mt-5">
  <div class="text-center">
    <a routerLink="/voitures">
      <button type="button" class="btn btn-primary m-2">
        Afficher les voitures
      </button>
    </a>
    <a routerLink="/marque-voiture">
      <button type="button" class="btn btn-primary m-2">
        Afficher les marques de voiture
      </button>
    </a>
    <a routerLink="/motos">
      <button type="button" class="btn btn-primary m-2">
        Afficher les motos
      </button>
    </a>
    <a routerLink="/marque-moto">
      <button type="button" class="btn btn-primary m-2">
        Afficher les marques de moto
      </button>
    </a>
  </div>
</div>
